<!DOCTYPE html>
<html>
<head>
    <title>Info Series</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#!Home">Biblioteca</a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item ">
                  <a class="nav-link" href="#!Home">Inicio</a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" href="#!peliculas">Películas</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="#!series">Series</a>
              </li>
      
              <li class="nav-item " ng-hide="ocultarBiblio">
                  <a class="nav-link" href="#!biblioteca">Biblioteca</a>
              </li>

              <li class="nav-item " ng-hide="ocultarGestion">
                <a class="nav-link" href="#!admin">Gestionar</a>
            </li>
            
              <li class="nav-item " ng-hide="ocultarSesion">
                  <a class="nav-link" href="#!login">Iniciar sesión</a>
              </li>
      
              <li class="nav-item " ng-hide="!ocultarSesion">
                  <a class="nav-link" href="#!logout">Cerrar sesión</a>
              </li>
                              
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <label for="busc" style="color: white; margin-right: 3px;">Buscar: </label>
              <input class="form-control mr-sm-2" id="busc" type="text" ng-model="buscador" placeholder="Buscar..." aria-label="Search">
          </form>
        </div>
      </nav>
    <div class="container" style="margin-top: 6%;">
        
        <div class="row" ng-repeat= "info in serie">
            <div class="cuadro-info col-3 d-one d-sm-block text-center">
                <div class="serieImg">
                        <img ng-src="{{info.img}}" alt="{{info.nombre}}" style="height: 80%; width:80%; margin-top: 2%;">
                </div>
                <p>
                    <strong class="col-6">{{info.nombre}}</strong>
                </p>
                <p>
                    <strong>Fecha de estreno</strong>
                    <strong class="col-6 fecha">{{info.fecha}}</strong>
                </p>
                <br>
                <button class="btn btn-secondary" ng-click="SerieVista()" ng-class="{'btn btn-success' : serVista == true}">Vista</button>
                <button class="btn btn-secondary" ng-click="SeriePendiente()" ng-class="{'btn btn-warning' : serPendiente == true}">Pendiente</button><br><br>
                <p>
                    <strong>Número de capítulos</strong><br>
                    {{info.capitulos}}
                </p>
                <p>
                    <strong>Calificación</strong>
                    {{info.calificacion}}
                </p><br>

                <div ng-hide="ocultarStars">
                    <form id="star" ng-submit="Calificar()">
                        <p class="clasificacion" >
                            <input id="radio1" type="radio" name="estrellas" value="5" ng-click="Calificar(1)">
                            <label for="radio1">★</label>
                            <input id="radio2" type="radio" name="estrellas" value="4" ng-click="Calificar(2)">
                            <label for="radio2">★</label>
                            <input id="radio3" type="radio" name="estrellas" value="3" ng-click="Calificar(3)"> 
                            <label for="radio3">★</label>
                            <input id="radio4" type="radio" name="estrellas" value="2" ng-click="Calificar(4)">
                            <label for="radio4">★</label>
                            <input id="radio5" type="radio" name="estrellas" value="1" ng-click="Calificar(5)">
                            <label for="radio5">★</label>
                        </p>
                      </form>
                </div>
                     
            </div>
            <div class="cuadro-info col-sm-9">
                <div class="row " >
                    <div class="col-sm-6 text-left  my-2 ml-2"  style="height: 100%; width:100%;">
                        <div>
                            <strong>Información</strong>
                        </div>
                        <nav>
                            <a href="#!/series/{{info.genero}}"><strong>{{info.genero}}</strong></a>
                            <span></span>
                        </nav>
                        <div>
                            <p>{{info.resumen}}</p>
                        </div>        
                    </div>
                    <div class="col-sm-6 my-2 ml-2"  style="height: 100%; width:100%;">
                        <div>
                            <strong>Comentarios</strong>
                        </div>
                        <form ng-submit="Comentar()">
                            <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.coment.$invalid }">
                                <label for="coment">Comenta</label>
                                <input type="text" name="coment" ng-model="formData.coment" required /><input type="submit" value="Enviar">
                            </div>
                        </form><hr>
                        <div ng-repeat="comentario in comentarios">
                            <nav>
                                <strong>{{comentario.usuario}}</strong> <span class="float-right">{{comentario.fecha}}</span>
                                <span></span>
                            </nav>
                            <div>
                                <p>{{comentario.Mensaje}}</p>
                            </div>
                            <hr>
                        </div>                             
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>